//colors
$color-white: #FFFFFF;
$color-pink: #FFEEEE;
$color-warning: #ff666a;
$color-cream-light: #FFF6EA;
$color-cream: #F7E9D7;
$color-beige: #EBD8C3;
$color-brown-light: #CFA588;
$color-brown: #8F694F;
$color-brown-strong: #6D422A;

//shadow
$shadow-input: rgba(0, 0, 0, 0.1) 0 1px 3px 0, rgba(0, 0, 0, 0.06) 0 1px 2px 0;



